#root {
  margin: 0 auto;
  height: 105vh;
  contain: content;
}

.navbar {
  border: 1px solid black;
}

.img-box {
  border: 2px solid red;
}

.column {
  padding: 0;
}

.control {
  padding-left: 1rem;
}

button {
  padding-left: 0;
  padding-right: 1rem;
  margin-right: 1.5rem;
}

/*desktop */
@media screen and (min-width: 480px) {
  .right-container{
  padding: 5rem;
  padding-top: 1rem;
  }

  .columns {
    margin-top: 4rem;
  }
}


.imgDiv{
  margin-top: 1rem;
}

img{
  height: 100%;
  width: 100%;
  position: relative;
}

footer {
  padding: 2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: fit-content;
}