#root {
  margin: 0 auto;
  height: 105vh;
  contain: content;
}

.navbar {
  border: 1px solid black;
}

.img-box {
  border: 2px solid red;
}

.column {
  padding: 0;
}

.control {
  padding-left: 1rem;
  position: relative;
}

button {
  padding-left: 0;
  padding-right: 1rem;
  margin-right: 1.5rem;
}

/*desktop */
@media screen and (min-width: 480px) {
  .right-container {
    padding: 5rem;
    padding-top: 1rem;
  }

  .columns {
    margin-top: 4rem;
  }
}

.right-container {
  position: relative;
}

.loading {
  position: absolute;
  z-index: 3;
  display: ruby;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 2px 2px 5px red;
  right: 50%;
  left: 45%;
  top: 50%;
  bottom: 50%;
}

.imgDiv {
  position: relative;
  margin-top: 1rem;
}

img {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('src/assets/backgroundImg.png');
  background-size: cover;
}

/* -----------recoder---------- */

.recordBtn {
  position: absolute;
  z-index: 10;
  padding: 0;
  margin-right: 2rem;
  margin-left: 2rem;
  border: none;
  height: min-content;
  border-radius: -11%;
  background: none;
  width: 1.5rem;
  height: 1.5rem;
}

.microphoneImg {
  height: 100%;
  width: 100%;
}

.microphoneImg:active{
    background: red;
    border-radius: 50%;
    border: red 0.1rem solid;
}

footer {
  padding: 2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: fit-content;
}